<html>
<head>

<title>Comentario rechazado</title>

</head>

<body>

<div align="center">

		<div align="left" style="width:540px;">

		<table cellpadding='0' cellspacing='0' border='0' width='540'>
		<tr><td style="border:1px dotted #C4C4C4 ;padding:15px 30px 5px 30px;">

		<table cellpadding='0' cellspacing='0' border='0' width='100%'>
			<tr>
				<td height="24" style="border-bottom:1px dotted #C4C4C4">
					
					<span style="float:right;font-family:Arial;font-size:13px;">
						<b><?php echo date("d/m/Y");?></b><b style="color:#C4C4C4;"> | </b>Hora: <b style="color:#DC0A0A;"><?php echo date("G:i");?> Hs.</b>
					</span> 
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="{web_site}" target="_blank" title="Ir a {web_site}"><img src="{web_site}/images/mails/logo.png" title="" border="0" alt="{web_site}" width="232" height="85" /></a>
				</td>
			</tr>
		
		<tr><td height="29" style="background:#DC0A0A;vertical-align:middle;">
			<span style="color:#FFF;font-size:12px;font-family:Arial;padding-left:10px;"><b style="text-transform:uppercase">{usuario}</b>, tu comentario no será publicado</span>
		</td></tr>

		<tr><td height='25'></td></tr>
		
		<tr>
		<td><span style="font-size:30px;font-family:Arial;">Comentario Rechazado</b></span>
		</td>
		</tr>
		
		<tr><td height='15'></td></tr>

		<tr><td >
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;background:#EAEAEA;">
			Su comentario sobre el artículo "<b>{titulo}</b>" ha sido eliminado ya que este no encuadra dentro de normas acordadas de publicación preestablecidas.<br>
			Animamos a enviar nuevamente su comentario con la idea de enriquecer el tema en cuestion.
			</span>
		</td></tr>
		
		<tr><td height="50"></td></tr>
		<tr>
			<td height="40" valign="middle" style="border-top:1px solid #E6E6E6;text-align:left">
				<span style="color:#2E3192;font-family:Arial, Helvetica;font-size:11px;">© <?php echo date("Y");?>, {web_site}. Todos los derechos reservados </span>
			</td>
		</tr>
		
		</table>
	
		</td></tr>
		</table>

	</div>
	
</div>
