<html>
<head>

<title>Recuperar Clave</title>

</head>

<body>

<div align="center">

		<div align="left" style="width:540px;">

		<table cellpadding='0' cellspacing='0' border='0' width='540'>
		<tr><td style="border:1px dotted #C4C4C4 ;padding:15px 30px 5px 30px;">

		<table cellpadding='0' cellspacing='0' border='0' width='100%'>
			<tr>
				<td height="24" style="border-bottom:1px dotted #C4C4C4">
					
					<span style="float:right;font-family:Arial;font-size:13px;">
						<b><?php echo date("d/m/Y");?></b><b style="color:#C4C4C4;"> | </b>Hora: <b style="color:#DC0A0A;"><?php echo date("G:i");?> Hs.</b>
					</span> 
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="http://{web_site}" target="_blank" title="Ir a {web_site}"><img src="/images/mails/logo.png" title="" border="0" alt="elonce.com" width="232" height="85" /></a>
				</td>
			</tr>
		
		<tr>
		  <td height="29" style="background:#DC0A0A;vertical-align:middle;">
			<span style="color:#FFF;font-size:12px;font-family:Arial;padding-left:10px;"><b style="text-transform:uppercase">Usuario: {usuario}</b></span>
		</td>
		</tr>

		<tr><td height='25'></td></tr>
		
		<tr>
			<td><span style="font-size:30px;font-family:Arial;">Recuperar clave paso 1/2 </span></td>
		</tr>
		
		<tr><td height='15'></td></tr>
		
		<tr>
		  <td>
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;background:#EAEAEA;">
			Para confirmar la recuperaci&oacute;n de tu clave por favor ingresá a la siguiente <b>URL</b>. </span>		</td>
		</tr>
				
		<tr><td height='15'></td></tr>

		<tr><td>
			<span style="display:block;padding:6px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;background:#EAEAEA;">
				<b>LINK: </b>
				<a style="color:#DC0A0A;text-decoration:none" href='{web_site}/lectores/recupera-clave-2.php' target='_blank' >{web_site}/lectores/recupera-clave-2.php</a>
			</span>
		</td></tr>
		
		<tr><td height='15'></td></tr>
		<tr><td height='1'><span style="display:block;border-top:1px dotted #C4C4C4;font-size:0;padding:0;overflow:hidden;"></span></td></tr>
		<tr><td height='15'></td></tr>
		
		<tr><td>
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;">Una vez allí completá los siguientes datos:</span>
		</td></tr>

		<tr><td height="15"></td></tr>
		
		<tr>
			<td>
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;">
				<b>Email: </b> <a style="color:#DC0A0A;text-decoration:none">{email}</a>
			</span>
			</td>
			</tr>
		
		<tr>
			<td>
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;border-top:0 none;">
				<b>Código de confirmación: </b><span style="color:#DC0A0A;text-decoration:none">{codigo}</span>
			</span>
			</td>
		</tr>
		
		<tr><td height="15"></td></tr>
		
		<tr><td>
		<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;border-top:0 none;">Una vez completado este paso se te enviará a tu correo electronico una clave provista por <b>elonce.com</b> la cual podrás cambiar una vez que hayas ingresado como usuario en la sección "cambiar clave". </span>
		
		</td></tr>
		
		<tr><td height="50"></td></tr>

		<tr>
			<td height="40" valign="middle" style="border-top:1px solid #E6E6E6;text-align:left">
				<span style="color:#2E3192;font-family:Arial, Helvetica;font-size:11px;">© <?php echo date("Y");?>, {web_site}. Todos los derechos reservados </span>
			</td>
		</tr>
		
		</table>
	
		</td></tr>
		</table>

	</div>
	
</div>

</body>
</html>