<html>
<head>

<title>Confirmación de Registro</title>

</head>

<body>

<div align="center">

	<div align="left" style="width:540px;">

	<table cellpadding='0' cellspacing='0' border='0' width='540'>
	<tr><td style="border:1px dotted #C4C4C4 ;padding:15px 30px 5px 30px;">

		<table cellpadding='0' cellspacing='0' border='0' width='100%'>
			<tr>
				<td height="24" style="border-bottom:1px dotted #C4C4C4">
					
					<span style="float:right;font-family:Arial;font-size:13px;">
						<b><?php echo date("d/m/Y");?></b><b style="color:#C4C4C4;"> | </b>Hora: <b style="color:#DC0A0A;"><?php echo date("G:i");?> Hs.</b>
					</span> 
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="{web_site}" target="_blank" title="Ir a elonce.com"><img src="{web_site}/images/mails/logo.png" title="" border="0" alt="{web_site}" width="232" height="85" /></a>
				</td>
			</tr>
		
		<tr><td height="29" style="background:#DC0A0A;vertical-align:middle;">
			<span style="color:#FFF;font-size:12px;font-family:Arial;padding-left:10px;">Bienvenido: <b style="text-transform:uppercase">{usuario}</b></span>
		</td></tr>

		<tr><td height='25'></td></tr>
		
		<tr>
		<td><span style="font-size:30px;font-family:Arial;">Confirmación de Registro</b></span></td>
		</tr>
			
		<tr>
			<td height="15"></td>
		</tr>
			
		<tr><td>
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;background:#EAEAEA;">Estas a un paso de completar tu registro. </span>
			
		</td></tr>
		
		<tr><td height='15'></td></tr>
		
		<tr><td >
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;background:#EAEAEA;">
			Para finalizar el proceso de registro en <a style="color:#DC0A0A;text-decoration:none">{web_site}</a> hace click en el siguiente vínculo e ingresá tu <b>e-mail</b> y el siguiente <b>código de registro</b> (por única vez) en el campo "código de confirmación".
			</span>
		</td></tr>
		
		<tr><td height='15'></td></tr>
		
		<tr><td >
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #FFD75E;font-family:Arial;font-size:12px;background:#FFFFCC;">
				<b style="color:#DC0A0A;;">IMPORTANTE:</b> No trates de ingresar con tu <b>contraseña</b> recientemente elegida sino con el <b>"código de Registro"</b> propuesto para finalizar el proceso. 
			</span>
		</td></tr>
		
		<tr><td height='15'></td></tr>
		<tr><td height='1'><span style="display:block;border-top:1px dotted #C4C4C4;font-size:0;padding:0;overflow:hidden;"></span></td></tr>
		<tr><td height='15'></td></tr>
		
		<tr><td >
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;">
				<b>Link: </b><a style="color:#DC0A0A;text-decoration:none" href='{web_site}/lectores/registro-confirmacion.php' target='_blank' >{web_site}/lectores/registro-confirmacion.php</a>
			</span>
		</td></tr>
	
		<tr>
			<td>
				<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;border-top:0 none;">
					<b>E-mail: </b><a style="color:#DC0A0A;text-decoration:none">{email}</a></span>
			</td>
		</tr>
		
		<tr>
			<td>
			<span style="display:block;padding:11px 15px;line-height:140%;border:1px dotted #C4C4C4;font-family:Arial;font-size:12px;border-top:0 none;">
				<b>Código: </b>{codigo}
			</span>
			</td>
		</tr>

		<tr><td height="50"></td></tr>

		<tr>
			<td height="40" valign="middle" style="border-top:1px solid #E6E6E6;text-align:left">
				<span style="color:#2E3192;font-family:Arial, Helvetica;font-size:11px;">© <?php echo date("Y");?>, {web_site}. Todos los derechos reservados </span>
			</td>
		</tr>
		</table>
	
	</td></tr>
	</table>

	</div>

</div>

</body>
</html>